.wrapper {
    --search-height: 46px;
    --top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px var(--default-layout-horizontal-space);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    position: relative;

    height: var(--search-height);
    display: flex;
    padding: 0px 0px 0px 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--black);
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - var(--top-spacer) * 2);
        top: var(--top-spacer);
        right: var(--search-button-width);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-radius: 0px 92px 92px 0px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}
